header(class="bg-indigo-600 p-4")
    div(class="container mx-auto flex justify-between items-center")
        h1(class="text-2xl text-white font-extrabold text-center") Bienes 
            span(class="font-normal") Raices
        nav(class="my-5 font-bold text-sm text-white hidden lg:flex lg:items-center lg:gap-3")
            a(href="") Mis Propiedades
            a(href="") Mi Perfil
            a(href="" class="bg-indigo-800 py-2 px-10 rounded-lg") Cerrar Sesion